{% extends "base.html" %}

{% block title %} Activity Data {% endblock title %}

{% block body %}
<div class="container mt-4">
    <h1>Activity Data</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% if acdata %}
        <table class="table table-bordered">
            <thead>
                <tr><th>Activity Name</th>
                    <th>Activity Description

                </th><th>Expense</th>
            </th><th>Category Type</th>
                <th>Date added</th></tr>
            </thead>
            <tbody>
            {% for data in acdata %}
                <tr>
                    <td>{{ data.ac_name }}</td>
                    <td>{{ data.ac_desc }}</td>
                    <td>{{ data.expense }}</td>
                    <td>{{ data.a_cat }}</td>
                    <td>{{ data.a_date }}</td>
                    <td>
                       {% comment %} <a href="{% url 'edit-act' data.ac_id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{% url 'del-act' data.ac_id %}" class="btn btn-danger btn-sm">Delete</a>  {% endcomment %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock body %}
